In [1]:
import os

In [2]:
directory = f'/Users/lilimatic/greenspace'
os.chdir(directory)

In [3]:
from functions.data import df
from functions.function import contingencytab

In [4]:
book ='crosstab/crosstab_app_gender'

In [5]:
#Questions of interest

#App and gender

gender = ['Gender']

app_related = ['Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?',
              'If your identity was not revealed, would you want to provide your phone’s location (see question 10)?']

In [6]:
for x in gender:
    for y in app_related:
        a,b = contingencytab(x,y,book)
        display(a,b)

Gender VS Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,No,Yes,All,"(Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?, No)","(Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?, Yes)","(Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?, All)"
Gender,,,,,,
Female,95,177,272,23.46,43.70,67.16
Male,50,83,133,12.35,20.49,32.84
All,145,260,405,35.80,64.20,100.00

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    0.2765
1                    p-value =    0.5990
2               Cramer's phi =    0.0261

Gender VS If your identity was not revealed, would you want to provide your phone’s location (see question 10)?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,"No, not at all","Yes, at all time","Yes, while using the app",All,"(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, No, not at all)","(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, Yes, at all time)","(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, Yes, while using the app)","(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, All)"
Gender,,,,,,,,
Female,122,63,87,272,30.12,15.56,21.48,67.16
Male,53,32,48,133,13.09,7.90,11.85,32.84
All,175,95,135,405,43.21,23.46,33.33,100.00

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =    0.9998
1                    p-value =    0.6066
2                 Cramer's V =    0.0497