In [1]:
import os

In [2]:
directory = f'/Users/lilimatic/greenspace'
os.chdir(directory)

In [3]:
from functions.data import df
from functions.function import contingencytab

In [4]:
book ='crosstab/crosstab_gender/crosstab_time_gender'

In [5]:
#Questions of interest

#Safefy and gender

gender = ['Gender']

time = ['How often have you visited parks or squares in 2019 during the day?'
              ,'How much time do you usually spend in parks or squares since the corona virus outbreak in Serbia?'
              ,'Regarding the parks or squares that you have visited in 2019, did you visit parks or squares more frequently during the day before the corona virus outbreak?']

In [6]:
for x in gender:
    for y in time:
        a,b = contingencytab(x,y,book)
        display(a,b)

Gender VS How often have you visited parks or squares in 2019 during the day?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

Gender                                              Female    Male     All
Always, almost every day                             64.00   24.00   88.00
Not at all                                            6.00    3.00    9.00
Often, a couple of times per week                    75.00   35.00  110.00
Rarely, a couple of times per year                   26.00   18.00   44.00
Sometimes, a couple of times per month               99.00   50.00  149.00
All                                                 270.00  130.00  400.00
(How often have you visited parks or squares in...   16.00    6.00   22.00
(How often have you visited parks or squares in...    1.50    0.75    2.25
(How often have you visited parks or squares in...   18.75    8.75   27.50
(How often have you visited parks or squares in...    6.50    4.50   11.00
(How often have you visited parks or squares in...   24.75   12.50   37.25
(How often have you visited parks or squares in...   67.50   32.50  100.00

                Chi-square test  results
0  Pearson Chi-square ( 4.0) =    2.6164
1                    p-value =    0.6239
2                 Cramer's V =    0.0809

Gender VS How much time do you usually spend in parks or squares since the corona virus outbreak in Serbia?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

Gender                                              Female    Male     All
From 15 to 30 minutes                                42.00   27.00   69.00
From 30 minutes to one hour                          90.00   28.00  118.00
More than one hour                                   49.00   32.00   81.00
Not at all                                           34.00   12.00   46.00
Up to 15 minutes                                     55.00   31.00   86.00
All                                                 270.00  130.00  400.00
(How much time do you usually spend in parks or...   10.50    6.75   17.25
(How much time do you usually spend in parks or...   22.50    7.00   29.50
(How much time do you usually spend in parks or...   12.25    8.00   20.25
(How much time do you usually spend in parks or...    8.50    3.00   11.50
(How much time do you usually spend in parks or...   13.75    7.75   21.50
(How much time do you usually spend in parks or...   67.50   32.50  100.00

                Chi-square test  results
0  Pearson Chi-square ( 4.0) =    8.6888
1                    p-value =    0.0694
2                 Cramer's V =    0.1474

Gender VS Regarding the parks or squares that you have visited in 2019, did you visit parks or squares more frequently during the day before the corona virus outbreak?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

Gender                                              Female    Male     All
As frequently                                        70.00   27.00   97.00
Less frequently                                      81.00   33.00  114.00
More frequently                                     105.00   57.00  162.00
Not at all                                           14.00   13.00   27.00
All                                                 270.00  130.00  400.00
(Regarding the parks or squares that you have v...   17.50    6.75   24.25
(Regarding the parks or squares that you have v...   20.25    8.25   28.50
(Regarding the parks or squares that you have v...   26.25   14.25   40.50
(Regarding the parks or squares that you have v...    3.50    3.25    6.75
(Regarding the parks or squares that you have v...   67.50   32.50  100.00

                Chi-square test  results
0  Pearson Chi-square ( 3.0) =    5.1643
1                    p-value =    0.1602
2                 Cramer's V =    0.1136